<html>
  <body>
    <h1>Hello, world!</h1>
    <h2>This server is the property of <%= @company_name %> </h2>
    <h2>This server's name is <%= @hostname %> </h2>
    <h2>This server's total memory is <%= @total_memory %> </h2>
  </body>
</html>